@media(orientation: portrait){

    li>h1{
        font-size: clamp(1rem, 150%, 10rem);
    }

    div.card, div.cardBackground{
        height: clamp(10rem, 40vh, 25rem);
    }

    img.svg-middle{
        margin: 10% 0;
    }
}