:root{
    --mainColor: rgb(144, 0, 0);
    --secondColor: rgb(83, 0, 0);
    --textWithBackground: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: auto;
}

body{
    width: 100%;
}

header{
    width: 100%;
    background-color: var(--mainColor);
}

footer{
    width: 100%;
    margin-top: 2rem;
    background-image: linear-gradient(var(--mainColor), var(--secondColor));
    color: var(--textWithBackground);
    display: flex;
    justify-content: space-around;
}

ul{
    list-style-type: none;
    color: white;
    display: flex;
}



div#card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

li#dropdown-starter{
    position: relative;
    display: inline-block;
}

div#dropdown-holder{
    display: flex;
    flex-direction: column;
    position: absolute;
}

div#dropdown-holder>a{
    text-decoration: none;
    color: var(--textWithBackground);
    background-color: var(--mainColor);
}


img{
    transition: transform 1s;
}

img:hover{
    transform: rotate(360deg);
}

div.card{
    background-color: var(--secondColor);
    min-width: 18rem;
    width: 20%;
    height: 50vh;
    color: var(--textWithBackground);
    border-radius: 5rem;
    border: 1rem var(--mainColor) solid;
    padding: 2rem;
}

div.card>h3{
    margin-top: 50%;
    font-size: 4rem;
    text-align: center;
}

div.cardBackground{
    background-color: var(--secondColor);
    min-width: 18rem;
    width: 20%;
    height: 50vh;
    color: var(--textWithBackground);
    border-radius: 5rem;
    border: 1rem var(--mainColor) solid;
    display: none;
    transform: rotateY(-90deg);
    padding: 2rem;
}

div.card.animatedForward{
    animation: 0.3s 0s forwards card-turn;
}

div.cardBackground.animatedForward{
    display: block;
    transform: rotateY(-90deg);
    animation: 0.3s 0s forwards backGroundCard-turn;
}

div.cardBackground.animatedForward.animatedBackward{
    animation: 0.3s 0s forwards card-turn;
}

div.card.animatedForward.animatedBackward{
    transform: rotateY(-90deg);
    animation: 0.3s 0s forwards backGroundCard-turn;
}

@keyframes card-turn{
    from{
        transform: rotateY(0);
    }
    to{
        transform: rotateY(90deg);
    }
}

@keyframes backGroundCard-turn{
    from{
        transform: rotateY(-90deg);
    }
    to{
        transform: rotateY(0);
    }
}






li>h1{
    font-size: clamp(1rem, 200%, 10rem);
}

li>h2{
    font-size: clamp(1rem, 140%, 2rem);
}

li.midline{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    margin: 0 10%;
}

img.svg-middle{
    width: 20%;
}

li#about-us{
    width: 30vw;
    text-align: end;
}

h1#theSurvivedBoy{
    font-size: clamp(1.2rem, 170%, 4rem);
}

p.first-article{
    padding: 0 1rem;
    font-size: clamp(1rem, 150%, 2rem);
}

h1#cards-title{
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1.2rem, 170%, 4rem);
}

div#bottom-line>h1{
    font-size: clamp(1.2rem, 170%, 2rem);
}

h1{
    padding: 1rem;
}

div#midline{
    background-color: var(--secondColor);
    margin: 1rem 0;
    transition: 1s 1s;
}

div#midline.start-animation{
    height: 0rem;
}

div#midline.start-animation.show{
    height: max-content;
}

div#midline>ul{
    justify-content: space-around;
}



p.second-article{
    margin: 0 0.5rem;
    font-size: clamp(1rem, 150%, 2rem); 
}

.start-animation{
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.7s;
}

div#bottom-line{
    background-color: var(--secondColor);
    margin-top: 2rem;
    padding-bottom: 2rem;
    color: var(--textWithBackground);

}

footer>h1{
    font-size: clamp(1.2rem, 170%, 2rem);
}


.start-animation2{
    height: 0;
    transform: translateY(100%);
    transition: 0.7s;
}

.start-animation2{
    opacity: 0;
    transition: 0.7s;
}

.start-animation2.show2{
    height: auto;
    opacity: 1;
    transform: translateY(0);
}

main.start-animation{
    opacity: 0;
    transform: translateY(-100%);
    transition: 0.7s;
}

h1.start-animation{
    opacity: 0;
    transform: translateX(-100%);
    transition: 1s 0.7s;
}

p.start-animation{
    opacity: 0;
    transition: 1s 1.2s;
}

.start-animation.show{
    opacity: 1;
    transform: translateY(0);
}


